@use '../../styles/mixins' as *;

.container {
  max-width: 320px;
  padding: 5px;
  margin: 0 auto;

  @include onTablet {
    max-width: 640px;
    padding: 5px;
    margin: 0 auto;
  }

  @include onDesktop {
    max-width: 1200px;
    padding: 5px;
    margin: 0 auto;
  }
}

.select {
  &__container {
    box-sizing: border-box;
    width: 320px;
    padding: 8px;
    margin: 0 auto;
    display: none;

    @include onTablet {
      width: 640px;
      margin: 0 auto;
      display: block;
    }

    @include onDesktop {
      width: 1200px;
      margin: 0 auto;
    }
  }

  &__content {
    width: 100px;

    @include onTablet {
      width: 150px;
    }

    @include onDesktop {
      width: 200px;
    }
  }
}