@use '../../../styles/vars' as *;

$height-default: 40px;
$indent-default: 4px;

.select {
  position: relative;
  width: 100%;
  z-index: 998;

  &__label {
    color: $secondary-color;
    font-weight: 500;
    text-transform: capitalize;
    cursor: default;
  };

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    height: $height-default;
    margin-top: $indent-default;
    padding: 10px;

    border: 1px solid $main-color;
    cursor: pointer;
    color: $main-color;
    font-size: 16px;

    &:hover {
      background-color: $hover-background-color;
      border: 1px solid $secondary-color;
    }

    &:focus {
      border: 1px solid $main-color;
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: $indent-default 0;
    background-color: $white-color;
    border: 1px solid $elements-color;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3 ease;

    &--open {
      margin-top: $indent-default;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
      transform: scaleY(1);
      transition: transform 0.3 ease;
    }
  }

  &__item {
    height: $height-default;
    list-style: none;
    padding: $indent-default 10px;
    color: $secondary-color;
    cursor: pointer;

    &:hover {
      background-color: $hover-background-color;
      color: $main-color;
    }
  }
}