@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;


.section {
  position: sticky;
  top: 0;
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  background: $white-color;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.img {
  width: 100%;
  object-fit: contain;
}

.img__container {
  display: flex;
  align-items: center;
  width: 75px;
  margin-right: 10px;

  @include onTablet {
    width: 150px;
  }
}