@use "../../styles/vars" as *;

.header {
  width: 100%;
  position: relative;
  position: sticky;
  top: 0;
  background: $white-color;
  z-index: 999;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.img {
  object-fit: contain;
}

.img__container {
  display: flex;
  align-items: center;
  width: 150px;
  margin-right: 10px;
}