@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.gallery {
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  background: $white-color;
  column-gap: 20px;
  display: flex;

  @include onTablet {
    max-width: 640px;
  }

  @include onDesktop {
    max-width: 1200px;
  } 

  &__img {
    cursor: zoom-in;
    width: 100%;
  }
}

.photo {
  display: block;
}

.container {
  width: 100%;
}