@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.gallery {
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  padding: 5px;
  margin: 0 auto;
  background: $white-color;
  display: grid;
  place-items: center;

  @include onTablet {
    max-width: 640px;
  }

  @include onDesktop {
    max-width: 1200px;
  } 

  &__img {
    cursor: zoom-in;
    width: 100%;
  }
}

.masonry__item {
  margin: 0;

  @include onMobile {
    display: grid;
    grid-column: 1;
  }
}

.photo {
  display: block;
}

.container {
  width: 100%;
}